.cover__link {
  text-decoration: none;
  background: rgba(42, 44, 47, 0.3);
  padding: 245px 312px 245px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 1127px) {
  .cover__link {
    padding: 245px calc((100vw - 560px) / 2);
  }
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding: 195px calc((100vw - 560px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding: 115px calc((100vw - 560px) / 2);
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    padding: 33px 16px 33px;
  }
}
