.place__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 739px) {
  .place__row {
    justify-content: center;
  }
}


