.place__website {
  width: 484px;
  padding: 0 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1143px) {
  .place__website {
    max-width: 456px;
  }
}

@media screen and (max-width: 992px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    max-width: 288px;
    padding: 0 0 32px;
  }
}
