.footer__list-item {
  display: block;
  margin-right: 18px;
}

@media screen and (max-width: 425px) {
  .footer__list-item {
    margin: 0 0 32px;
  }

  .footer__link:last-of-type {
    margin: 0 0 0;
  }
}
